/*div.mdl-layout__drawer > nav.mdl-navigation > a.mdl-navigation__link {
    display: inline-flex;
    vertical-align: middle;
}
*/
/*.material-icons {
    display: inline-flex;
    vertical-align: middle !important;
    font-size: 18px !important;
    line-height: 24px;
}
.text1 {
    font-size: 18px;
    line-height: 24px;
}*/
button > i {
    vertical-align: middle !important;
}
